@import '../../common/global.css';

.splash-page {
  -webkit-user-select: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.toolbar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
  padding: 15px 20px;
  position: relative;

  & .content {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  & button {
    font-size: 25px;
    transition: opacity var(--anim-speed);

    &:hover {
      opacity: .8;
    }
  }
}

.repos {
  overflow: auto;

  & .repo {
    display: block;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    & .clickbox {
      display: flex;
      flex-direction: column;
      padding: 15px 20px;
      transition: background-color var(--anim-speed);
      width: 100%;

      &:hover,
      &:active {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }

    & .repo-name {
      font-size: 15px;
      font-weight: 600;
    }

    & .repo-branch {
      align-items: center;
      display: flex;
      color: rgba(0, 0, 0, .4);
      font-size: 14px;
      margin-top: 8px;

      & .octicon {
        font-size: 16px;
      }

      & .branch-label {
        font-weight: 300;
        margin-left: 8px;
      }
    }
  }
}
